{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn"],
  "importOrder": [
    "^(next|react)(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^~/shared(.*)$",
    "^~/server/(core|common)(.*)$",
    "^~/server/services(.*)$",
    "^~/server(.*)$",
    "^~/app/_components(.*)$",
    "^~/app/_hooks(.*)$",
    "^~/app/_libs(.*)$",
    "^~/app(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
